<header>
  <h1>Kudos</h1>
  <ul class="actions">
    <li><%= link_to "Back", root_path, class: "back" %></li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Give Kudos", new_kudo_path, class: "new" %>
      </li>
    <% end %>
  </ul>
</header>

<h2>To <b><%= @user.username %></b>:</h2>

<% @kudos.each do |kudo| %>
  <div class="kudo">
    <%= kudo.from.username %> (<%= kudo.created_at.strftime("%d. %m. %Y %H:%M") %>)<br />
    Kudos for <b><%= kudo.for %></b><br />
    <% admins_only do %>
      <%= link_to "Delete",
        kudo_path(kudo),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this kudos?" },
        class: "delete" %>
    <% end %>
  </div>
<% end %>

<% if @kudos.empty? %>
  No Kudos recieved sofar.
<% end %>
