<% @title = "Kudos - " + @kudo.for %>
<p>
  From: <%= @kudo.from %><br />
  To: <%= @kudo.to %><br />
  For: <%= @kudo.for %><br />
  <%= link_to "Edit Kudos", edit_kudo_path(@kudo) %><br />
  <%= link_to "Delete Kudos",
    kudo_path(@kudo),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this kudos?" }
  %>
</p>
